/* Tiptap Editor Styles */
.ProseMirror {
    outline: none;
}

.ProseMirror p {
    margin: 0.5em 0;
}

.ProseMirror ul,
.ProseMirror ol {
    padding-left: 1.5em;
    margin: 0.5em 0;
}

.ProseMirror li {
    margin: 0.25em 0;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
    margin: 0.75em 0 0.5em;
    font-weight: 600;
}

.ProseMirror h1 {
    font-size: 1.5em;
}

.ProseMirror h2 {
    font-size: 1.25em;
}

.ProseMirror h3 {
    font-size: 1.1em;
}

.ProseMirror strong {
    font-weight: 600;
}

.ProseMirror em {
    font-style: italic;
}

.ProseMirror u {
    text-decoration: underline;
}

.ProseMirror s {
    text-decoration: line-through;
}

.ProseMirror [style*="text-align: center"] {
    text-align: center;
}

.ProseMirror [style*="text-align: right"] {
    text-align: right;
}

.ProseMirror [style*="text-align: left"] {
    text-align: left;
}
